/* src/pages/ForgotPassword.css */

.ForgotPassword-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .ForgotPassword-input {
    padding: 10px 15px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .ForgotPassword-button {
    padding: 10px 20px;
    border-radius: 8px;
    background: #3A5940;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Montserrat;
    font-weight: 600;
  }
  
  .ForgotPassword-button:hover {
    background-color: #588157;
  }
  
  .ForgotPassword-backLink {
    display: block;
    margin-bottom: 20px;
    color: #588157;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    &:hover {
        text-decoration: underline;
    }
  }
  
  .ForgotPassword-backLink:hover {
    text-decoration: underline;
  }

  .ForgotPassword-buttons {
    display: flex;
    gap: 25px;
    justify-content: center;
}
  