.Header-userImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("foto-user.png");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
  &:hover {
    transform: scale(1.1);
  }
}

.Header-tooltip {
  width: 65px;
  height: 33px;
  /* padding: auto; */
  position: absolute;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: red;
  font-size: 0.45em;
  font-weight: 600;
  font-family: "Montserrat";
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 1px #c7c7c7 solid;
  cursor: pointer;
  top: 79px;
  right: 54px;
  /* left: 94.3%;   */
}

.Header-tooltip::after {
  content: "";
  position: absolute;
  top: -13px;
  left: 53%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 14px solid white;
  z-index: 2;
}

/* Tri�ngulo de borda cinza */
.Header-tooltip::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 53%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 14px solid #c7c7c7;
  z-index: 1;
}
