.user-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr;
  height: 100vh;
}

.header-container{
    grid-row: 1;
    grid-column: 1;
}

.application-container{
    grid-row: 2;
    grid-column: 1;
}