  /* Login side container */
  .login-area-container {
    grid-column: 2/3;
    grid-row: 1/2;
  
    background-color: white;
    position: relative;
  }
  
  /* Image Container */
  .image-container {
    display: flex;
    justify-content: center;
  }
  
  /* Fomrs Containers */
  
  .formas-container {
    color: black;
  }
  
  .forms-containt-container {
    position: relative;
    display: flex;
    gap: 20px;
  
    top: 10vh;
    left: 20%;
    right: 20%;
  
    min-height: 80vh;
    width: 60%;
  
    border: 1px solid black;
    border-radius: 10px;
  
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    column-gap: 20px;
  
    padding: 10% 5%;
    box-sizing: border-box;
  }
  
  .forms-fields-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .login-button-container {
    display: flex;
    justify-content: center;
  }
  
  /* Login Button */
  .login-button {
    height: 30px;
    width: 47px;
    padding: 15px 40px;
    margin-top: 20px;
  
    display: inline-flex;
    justify-content: center;
    align-items: center;
  
    border: 0.5px solid #000;
    border-radius: 10px;
    background: #588157;
    color: white;
  
    cursor: pointer;
  }
  
  /* Forms Input*/
  
  .forms-fields-container input {
    height: 27px;
    padding: 0 3px;
  
    border-radius: 10px;
    border: 0.5px solid #000;
    background: white;
  }
  
  /* Forms Labels*/
  
  .forms-fields-container label {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .forms-fields-container input.invalid{
    border: 0.5px solid red;
  }
  
  /* Input error message */
  .forms-error-message{
    color: red;
    font-family: Montserrat, sans-serif;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  
  /* Not Register text */
  .not-registe-text {
    color: #000;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  /* Click Here Span */
  .not-registe-text span {
    cursor: pointer;
    text-decoration: underline;
    color: #000;
  }
  
  /* Forgot Password text */
  .forgot-password-text {
    color: #000;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  
    margin-bottom: -20px;
  }
  
  .forgot-password-text span {
    cursor: pointer;
    text-decoration: underline;
    color: #000;
  }
  
  @media only screen and (max-width: 1024px) {

    .login-area-container {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  
    /* Forms Container */
    .forms-containt-container {
      top: 5vh;
      left: 10%;
      right: 10%;
      width: 80%;
      padding: 10vh 5vw;
    }
  }
  