.cards-page-container {
  display: grid;
  grid-template-rows: 1fr 11fr;
  grid-template-columns: 1fr;
  column-gap: 10px;
  height: 100%;
}

.notebook-name {
  color: black;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;

  padding: 48px 46px;
  padding-bottom: 20px;
}

.notebook-cards{
    display: flex;
    padding: 0 10px 10px;
}